.coming-soon-page-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #fcf3cc;
}
.coming-soon-page-coming-soon-page {
  width: 100%;
  height: 715px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: flex-end;
}
.coming-soon-page-image {
  top: 26px;
  left: 0px;
  right: 0px;
  width: 622px;
  height: 665px;
  margin: auto;
  position: absolute;
  object-fit: cover;
}
.coming-soon-page-image3 {
  top: 239px;
  right: 0px;
  width: 441px;
  height: 287px;
  position: absolute;
}
.coming-soon-page-image4 {
  top: 273px;
  left: 0px;
  width: 500px;
  height: 381px;
  position: absolute;
}
.coming-soon-page-address {
  top: 655px;
  left: 0px;
  color: rgba(37, 90, 136, 1);
  right: 0px;
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Regular;
  text-align: center;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.coming-soon-page-instagram {
  top: 29px;
  fill: #132e5d;
  right: 60px;
  width: 46px;
  height: 46px;
  position: absolute;
}
.coming-soon-page-logo1 {
  top: 39px;
  left: 60px;
  width: 132px;
  height: auto;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.coming-soon-page-image1 {
  width: 132px;
  object-fit: cover;
}
@media(max-width: 1440px) {
  .coming-soon-page-image {
    top: 0px;
    left: 0px;
    width: 623px;
    bottom: 2px;
    height: 665px;
    position: absolute;
  }
  .coming-soon-page-image3 {
    top: 261px;
    width: 361px;
    height: 234px;
  }
  .coming-soon-page-image4 {
    width: 424px;
    height: 323px;
  }
}
@media(max-width: 1024px) {
  .coming-soon-page-coming-soon-page {
    width: auto;
    align-self: stretch;
  }
  .coming-soon-page-image {
    width: 562px;
    height: 599px;
  }
  .coming-soon-page-image3 {
    top: 252px;
    width: 305px;
    height: 196px;
  }
  .coming-soon-page-image4 {
    top: 273px;
    left: -8px;
    width: 336px;
    height: 255px;
  }
  .coming-soon-page-address {
    bottom: 36px;
  }
  .coming-soon-page-instagram {
    top: 39px;
    fill: #132e5d;
    right: 60px;
    width: 35px;
    height: 35px;
    position: absolute;
  }
  .coming-soon-page-logo1 {
    width: 132px;
  }
  .coming-soon-page-image1 {
    width: 132px;
  }
}
@media(max-width: 768px) {
  .coming-soon-page-image {
    width: 403px;
    height: 429px;
  }
  .coming-soon-page-image3 {
    top: 295px;
    right: -69px;
    width: 231px;
    height: 147px;
  }
  .coming-soon-page-image4 {
    top: 315px;
    left: -51px;
    width: 256px;
    height: 193px;
  }
  .coming-soon-page-address {
    left: 0px;
    color: rgb(37, 90, 136);
    right: 0px;
    font-size: 20px;
    font-family: Montserrat;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
  }
}
@media(max-width: 425px) {
  .coming-soon-page-image {
    width: 302px;
    height: 321px;
  }
  .coming-soon-page-image3 {
    top: 338px;
    right: -45px;
    width: 138px;
    height: 87px;
  }
  .coming-soon-page-image4 {
    top: 347px;
    left: -57px;
    width: 159px;
    height: 119px;
  }
  .coming-soon-page-address {
    bottom: 22px;
    font-size: 20px;
  }
  .coming-soon-page-instagram {
    right: 35px;
    width: 29px;
    height: 29px;
  }
  .coming-soon-page-logo1 {
    top: 38px;
    left: 35px;
  }
  .coming-soon-page-image1 {
    width: 121px;
    height: 29px;
  }
}
@media(max-width: 320px) {
  .coming-soon-page-image {
    width: 223px;
    height: 236px;
  }
  .coming-soon-page-image3 {
    top: 317px;
    right: -62px;
    width: 130px;
    height: 82px;
  }
  .coming-soon-page-image4 {
    top: 327px;
    left: -49px;
    width: 133px;
    height: 99px;
  }
  .coming-soon-page-address {
    font-size: 14px;
  }
  .coming-soon-page-instagram {
    top: 35px;
    right: 30px;
    width: 27px;
    height: 27px;
  }
  .coming-soon-page-logo1 {
    top: 37px;
    left: 30px;
  }
  .coming-soon-page-image1 {
    width: 105px;
    height: 25px;
  }
}
