body::-webkit-scrollbar {
  display: none;
}

.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.home-navbar-interactive {
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  margin-top: -2px;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #12121c;
}
.home-navlink {
  display: contents;
}
.home-ease-logo {
  width: var(--dl-size-size-medium);
  height: auto;
  text-decoration: none;
}
.home-desktop-menu {
  display: flex;
}
.home-nav {
  flex: 0 0 auto;
  color: #7f8089;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-home {
  font-size: 16px;
  font-style: normal;
  transition: 0.3s;
  font-family: Montserrat;
  font-weight: 700;
  text-decoration: none;
}
.home-home:hover {
  color: #ffffff;
}
.home-contact {
  font-size: 16px;
  font-style: normal;
  transition: 0.3s;
  font-weight: 700;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.home-contact:hover {
  color: #ffffff;
}
.home-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.home-menu-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
  background-color: #12121c;
}
.home-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.home-ease-logo1 {
  width: 100px;
  height: auto;
}
.home-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-close-icon {
  fill: #7f8089;
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-nav2 {
  flex: 0 0 auto;
  color: #7f8089;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-home1 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-home1:hover {
  color: #ffffff;
}
.home-contact1 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-home2 {
  width: 100%;
  height: 704px;
  display: flex;
  position: relative;
  margin-top: 84px;
  align-items: center;
  background-size: cover;
  justify-content: center;
  background-image: url("public/playground_assets/Background_ColorCorrected_1.jpg");
  background-position: center;
}
.home-phone {
  top: 48px;
  left: 1172px;
  width: 450px;
  height: auto;
  z-index: 1;
  position: absolute;
  object-fit: cover;
}
.home-banner-text {
  top: 200px;
  flex: 0 0 auto;
  left: 147px;
  width: auto;
  height: auto;
  display: flex;
  z-index: 1;
  position: absolute;
  align-items: center;
  flex-direction: column;
}
.home-the-future-is-served {
  color: #242337;
  width: auto;
  font-size: 2.5rem;
  align-self: flex-start;
  font-style: normal;
  font-family: Montserrat;
  font-weight: 600;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  background-color: #D9D9D9;
}
.home-healthy-has-never {
  color: rgb(255, 255, 255);
  width: auto;
  font-size: 6rem;
  align-self: flex-start;
  font-style: italic;
  margin-top: var(--dl-space-space-twounits);
  text-align: left;
  font-family: Montserrat;
  font-weight: 800;
  padding-left: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-unit);
  background-color: rgb(36, 35, 55);
}
.home-been-this-easy {
  color: rgb(255, 255, 255);
  width: auto;
  font-size: 6rem;
  align-self: flex-start;
  font-style: italic;
  text-align: left;
  font-family: Montserrat;
  font-weight: 800;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  background-color: rgb(36, 35, 55);
}
.home-taste {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}
.home-container2 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 16rem;
  align-items: center;
  margin-bottom: 16rem;
  flex-direction: column;
}
.home-taste-the-possibilities {
  color: rgb(36, 35, 55);
  width: 100%;
  font-size: 4rem;
  font-style: normal;
  text-align: center;
  font-family: Montserrat;
  font-weight: 900;
}
.home-image {
  width: 50%;
  margin-top: var(--dl-space-space-sixunits);
  object-fit: cover;
  margin-bottom: var(--dl-space-space-sixunits);
}
@media(max-width: 479px) {
  .home-image {
    width: 100%;
    height: auto;
  }
}
.home-freshly-cooked {
  color: rgb(36, 35, 55);
  width: 100%;
  font-size: 4rem;
  font-style: normal;
  text-align: center;
  font-family: Montserrat;
  font-weight: 900;
}
.home-render {
  width: 100%;
  height: 1250px;
  display: flex;
  align-items: flex-start;
  background-size: cover;
  background-image: url("public/playground_assets/230224_d02-view02_cooking%20machine-1300h.jpg");
  background-position: center;
}
.home-supporters {
  width: 100%;
  height: 700px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}
.home-container3 {
  flex: 0 0 auto;
  display: flex;
  margin-top: var(--dl-space-space-fourunits);
  align-items: flex-start;
  flex-direction: column;
}
.home-supported-by {
  color: rgb(36, 35, 55);
  width: 1001px;
  font-size: 3rem;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-family: Montserrat;
  font-weight: 900;
}
.home-image1 {
  width: auto;
  height: 400px;
  align-self: center;
  margin-top: var(--dl-space-space-twounits);
  object-fit: cover;
  padding: 0 1rem;
}
.home-contact2 {
  width: 100%;
  height: 500px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #39394b;
}
.home-container4 {
  top: 167px;
  flex: 0 0 auto;
  left: 0px;
  right: 0px;
  width: 100%;
  margin: auto;
  display: flex;
  position: absolute;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
}
.home-get-in-touch {
  color: rgb(255, 255, 255);
  width: 1001px;
  font-size: 3rem;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-family: Montserrat;
  font-weight: 900;
}
.home-shoot-us-a-message {
  color: rgb(255, 255, 255);
  font-size: 1.7rem;
  align-self: center;
  margin-top: var(--dl-space-space-twounits);
  font-family: Montserrat;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-button {
  top: 355px;
  left: 0px;
  color: rgb(36, 35, 55);
  right: 0px;
  width: var(--dl-size-size-large);
  margin: auto;
  position: absolute;
  font-size: 20px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
  border-color: #e9e9eb;
  border-radius: Radius6;
  text-decoration: none;
  background-color: rgb(233, 233, 235);
}
.home-button:hover {
  color: #ffffff;
  align-self: center;
  background-color: #191927;
}
.home-footer {
  width: 100%;
  height: 460px;
  display: flex;
  position: relative;
  align-items: flex-end;
  justify-content: center;
  background-color: #191927;
}
.home-container5 {
  top: 91px;
  flex: 0 0 auto;
  left: 0px;
  right: 0px;
  width: auto;
  height: auto;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  justify-content: center;
}
.home-ul {
  width: 346px;
}
.home-li {
  color: #52525a;
  width: 150px;
  border-color: #7f8089;
  border-width: 1px;
  margin-bottom: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0.5px;
}
.home-text19 {
  color: #ffffff;
  font-size: 1.3rem;
  font-style: normal;
  font-family: Montserrat;
  font-weight: 700;
}
.home-li01 {
  color: #52525a;
  width: 269px;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text20 {
  color: rgb(127, 128, 137);
  font-size: 1rem;
  font-style: normal;
  font-family: Montserrat;
  font-weight: 400;
}
.home-ul1 {
  width: 305px;
}
.home-li02 {
  color: #52525a;
  width: 150px;
  border-color: #7f8089;
  border-width: 1px;
  margin-bottom: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0.5px;
}
.home-text21 {
  color: rgb(255, 255, 255);
  font-size: 1.3rem;
  font-style: normal;
  font-family: Montserrat;
  font-weight: 700;
}
.home-li03 {
  color: #52525a;
  width: 269px;
  font-size: 1rem;
  margin-bottom: var(--dl-space-space-unit);
}
.home-link {
  color: rgb(127, 128, 137);
  font-size: 1rem;
  transition: 0.3s;
  font-family: Montserrat;
  text-decoration: none;
}
.home-link:hover {
  color: #ffffff;
}
.home-li04 {
  color: #52525a;
  width: 269px;
  font-size: 1rem;
  margin-bottom: var(--dl-space-space-unit);
}
.home-link1 {
  color: rgb(127, 128, 137);
  font-size: 1rem;
  transition: 0.3s;
  font-family: Montserrat;
  text-decoration: none;
}
.home-link1:hover {
  color: #ffffff;
}
.home-li05 {
  color: #52525a;
  width: 269px;
  font-size: 1rem;
  margin-bottom: var(--dl-space-space-unit);
}
.home-navlink1 {
  color: rgb(127, 128, 137);
  font-size: 1rem;
  transition: 0.3s;
  font-family: Montserrat;
  text-decoration: none;
}
.home-navlink1:hover {
  color: #ffffff;
}
.home-li06 {
  color: #52525a;
  width: 269px;
  font-size: 1rem;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text22 {
  color: rgb(127, 128, 137);
  font-size: 1rem;
  transition: 0.3s;
  font-family: Montserrat;
  text-decoration: none;
}
.home-text22:hover {
  color: #ffffff;
}
.home-ul2 {
  width: 305px;
}
.home-li07 {
  color: #52525a;
  width: 150px;
  border-color: #7f8089;
  border-width: 1px;
  margin-bottom: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0.5px;
}
.home-text23 {
  color: rgb(255, 255, 255);
  font-size: 1.3rem;
  font-style: normal;
  font-family: Montserrat;
  font-weight: 700;
}
.home-li08 {
  color: #52525a;
  width: 269px;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text24 {
  color: rgb(127, 128, 137);
  font-size: 1rem;
  font-family: Montserrat;
}
.home-li09 {
  color: #52525a;
  width: 269px;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text25 {
  color: rgb(127, 128, 137);
  font-size: 1rem;
  font-family: Montserrat;
}
.home-li10 {
  color: #52525a;
  width: 269px;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text26 {
  color: rgb(127, 128, 137);
  font-size: 1rem;
  font-family: Montserrat;
}
.home-li11 {
  color: #52525a;
  width: 269px;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text27 {
  color: rgb(127, 128, 137);
  font-size: 1rem;
  font-family: Montserrat;
}
.home-li12 {
  color: #52525a;
  width: 269px;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text30 {
  color: rgb(127, 128, 137);
  font-size: 1rem;
  font-family: Montserrat;
}
.home-ul3 {
  width: 305px;
}
.home-li13 {
  color: #52525a;
  width: 150px;
  border-color: #7f8089;
  border-width: 1px;
  margin-bottom: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0.5px;
}
.home-text33 {
  color: rgb(255, 255, 255);
  font-size: 1.3rem;
  font-style: normal;
  font-family: Montserrat;
  font-weight: 700;
}
.home-li14 {
  color: #52525a;
  width: 269px;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text34 {
  color: rgb(127, 128, 137);
  font-size: 1rem;
  font-family: Montserrat;
}
.home-copyright {
  left: 0px;
  color: #7f8089;
  right: 0px;
  bottom: 41px;
  margin: auto;
  position: absolute;
  font-size: 1rem;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-family: Montserrat;
  font-weight: 400;
}
@media(max-width: 1600px) {
  .home-phone {
    top: 205px;
    left: 979px;
    width: 385px;
    height: 699px;
    position: absolute;
  }
  .home-banner-text {
    top: 268px;
  }
  .home-healthy-has-never {
    font-size: 5rem;
  }
  .home-been-this-easy {
    font-size: 5rem;
  }
  .home-container2 {
    margin-top: 16rem;
    margin-bottom: 16rem;
  }
  .home-taste-the-possibilities {
    width: 100%;
    padding: 0 2rem;
  }
  .home-freshly-cooked {
    width: 100%;
    padding: 0 2rem;
  }
  .home-render {
    height: 1030px;
  }
  .home-container4 {
    left: 0px;
    right: 0px;
    margin: auto;
  }
  .home-button {
    left: 0px;
    right: 0px;
    margin: auto;
  }
}
@media(max-width: 1200px) {
  .home-home2 {
    background-position: bottom;
  }
  .home-phone {
    top: 112px;
    left: 725px;
    width: 316px;
    height: 570px;
  }
  .home-banner-text {
    top: 268px;
    left: 58px;
  }
  .home-the-future-is-served {
    font-size: 2rem;
  }
  .home-healthy-has-never {
    font-size: 4rem;
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .home-been-this-easy {
    font-size: 4rem;
  }
  .home-taste {
    height: auto;
  }
  .home-container2 {
    margin-top: 12rem;
    margin-bottom: 12rem;
  }
  .home-taste-the-possibilities {
    top: 139px;
    left: 0px;
    right: 0px;
    width: 100%;
    margin: auto;
  }
  .home-freshly-cooked {
    width: 100%;
  }
  .home-render {
    height: 772px;
  }
  .home-button {
    left: 0px;
    right: 0px;
    margin: auto;
  }
  .home-ul {
    width: 300px;
  }
  .home-li01 {
    width: 262px;
  }
  .home-ul1 {
    width: 200px;
  }
  .home-ul2 {
    width: 200px;
  }
  .home-ul3 {
    width: 200px;
  }
}
@media(max-width: 991px) {
  .home-navbar-interactive {
    z-index: 100;
  }
  .home-home2 {
    height: 681px;
    position: relative;
  }
  .home-phone {
    top: 174px;
    left: 605px;
    width: 268px;
    height: 476px;
    margin: auto;
    position: absolute;
  }
  .home-banner-text {
    left: 44px;
  }
  .home-the-future-is-served {
    font-size: 1.8rem;
  }
  .home-healthy-has-never {
    font-size: 3.3rem;
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .home-been-this-easy {
    font-size: 3.3rem;
  }
  .home-taste-the-possibilities {
    width: 100%;
    font-size: 3rem;
  }
  .home-freshly-cooked {
    left: 0px;
    right: 0px;
    width: 100%;
    bottom: 139px;
    margin: auto;
    font-size: 3rem;
  }
  .home-supporters {
    height: 659px;
  }
  .home-container3 {
    margin-top: var(--dl-space-space-twounits);
  }
  .home-image1 {
    width: 100%;
    height: auto;
  }
  .home-button {
    left: 0px;
    right: 0px;
    margin: auto;
  }
  .home-li14 {
    width: auto;
  }
}
@media(max-width: 767px) {
  .home-navbar-interactive {
    z-index: 100;
    margin-top: -2px;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-desktop-menu {
    display: none;
  }
  .home-contact {
    margin-left: var(--dl-space-space-unit);
  }
  .home-burger-menu {
    display: flex;
  }
  .home-menu-icon {
    fill: #D9D9D9;
  }
  .home-home2 {
    height: 668px;
    margin-top: 81px;
    background-position: right;
  }
  .home-phone {
    left: 0px;
    right: 0px;
    bottom: 25px;
    margin: auto;
  }
  .home-banner-text {
    top: 39px;
    left: 0px;
    right: 0px;
    width: 359px;
    margin: auto;
  }
  .home-the-future-is-served {
    font-size: 1rem;
    align-self: center;
    text-align: center;
  }
  .home-healthy-has-never {
    font-size: 2rem;
    align-self: center;
    margin-top: var(--dl-space-space-halfunit);
    text-align: center;
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .home-been-this-easy {
    font-size: 2rem;
    align-self: center;
    text-align: center;
  }
  .home-container2 {
    margin-top: 10rem;
    margin-bottom: 10rem;
  }
  .home-taste-the-possibilities {
    left: 0px;
    color: rgb(36, 35, 55);
    right: 0px;
    width: 100%;
    margin: auto;
    font-size: 2.5rem;
    font-style: normal;
    font-family: Montserrat;
    font-weight: 900;
  }
  .home-freshly-cooked {
    left: 0px;
    color: rgb(36, 35, 55);
    right: 0px;
    width: 100%;
    margin: auto;
    font-size: 2.5rem;
    font-style: normal;
    font-family: Montserrat;
    font-weight: 900;
  }
  .home-supporters {
    height: 626px;
  }
  .home-container3 {
    width: 100%;
    margin-top: var(--dl-space-space-twounits);
  }
  .home-supported-by {
    width: auto;
    font-size: 2.5rem;
  }
  .home-image1 {
    width: 100%;
    height: auto;
  }
  .home-get-in-touch {
    width: auto;
    font-size: 2.5rem;
  }
  .home-button {
    top: 353px;
    left: 0px;
    right: 0px;
    width: var(--dl-size-size-large);
    margin: auto;
    position: absolute;
  }
  .home-footer {
    height: 1139px;
  }
  .home-container5 {
    height: 867px;
    position: static;
    align-items: center;
    flex-direction: column;
  }
  .home-ul {
    padding-left: 0px;
  }
  .home-li {
    width: 100%;
    text-align: center;
  }
  .home-li01 {
    width: 100%;
    text-align: center;
  }
  .home-text20 {
    width: 100%;
    text-align: center;
  }
  .home-ul1 {
    width: 300px;
    padding-left: 0px;
  }
  .home-li02 {
    width: 100%;
    text-align: center;
  }
  .home-li03 {
    width: 100%;
    text-align: center;
  }
  .home-li04 {
    width: 100%;
    text-align: center;
  }
  .home-li05 {
    width: 100%;
    text-align: center;
  }
  .home-li06 {
    width: 100%;
    text-align: center;
  }
  .home-ul2 {
    width: 300px;
    padding-left: 0px;
  }
  .home-li07 {
    width: 100%;
    text-align: center;
  }
  .home-li08 {
    width: 100%;
    text-align: center;
  }
  .home-li09 {
    width: 100%;
    text-align: center;
  }
  .home-li10 {
    width: 100%;
    text-align: center;
  }
  .home-li11 {
    width: 100%;
    text-align: center;
  }
  .home-li12 {
    width: 100%;
    text-align: center;
  }
  .home-ul3 {
    width: 300px;
    padding-left: 0px;
  }
  .home-li13 {
    width: 100%;
    text-align: center;
  }
  .home-li14 {
    width: 100%;
    text-align: center;
  }
  .home-copyright {
    width: 100%;
  }
}
@media(max-width: 479px) {
  .home-navbar-interactive {
    margin-top: -2px;
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .home-menu-icon {
    width: 20px;
    height: 20px;
  }
  .home-mobile-menu {
    padding: 16px;
  }
  .home-home2 {
    height: 605px;
    margin-top: 68px;
    background-position: right;
  }
  .home-phone {
    left: 0px;
    right: 0px;
    width: 228px;
    bottom: 29px;
    height: 404px;
    margin: auto;
  }
  .home-banner-text {
    top: 37px;
    left: 0px;
    right: 0px;
    margin: auto;
  }
  .home-the-future-is-served {
    width: auto;
    align-self: center;
    text-align: center;
  }
  .home-healthy-has-never {
    width: auto;
    align-self: center;
    text-align: center;
  }
  .home-been-this-easy {
    width: auto;
    align-self: center;
    text-align: center;
  }
  .home-taste {
    height: auto;
  }
  .home-container2 {
    margin-top: 8rem;
    margin-bottom: 8rem;
  }
  .home-taste-the-possibilities {
    top: 101px;
    left: 0px;
    right: 0px;
    width: 100%;
    margin: auto;
    font-size: 1.5rem;
  }
  .home-freshly-cooked {
    left: 0px;
    right: 0px;
    width: 100%;
    bottom: 103px;
    margin: auto;
    font-size: 1.5rem;
  }
  .home-supporters {
    height: 408px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .home-container3 {
    margin-top: var(--dl-space-space-unit);
  }
  .home-supported-by {
    font-size: 1.7rem;
  }
  .home-image1 {
    width: 100%;
    height: auto;
    padding-bottom: 0px;
  }
  .home-get-in-touch {
    color: rgb(255, 255, 255);
    font-size: 1.7rem;
    font-style: normal;
    font-family: Montserrat;
    font-weight: 900;
  }
  .home-shoot-us-a-message {
    color: rgb(255, 255, 255);
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
    font-family: Montserrat;
  }
  .home-button {
    top: 319px;
    left: 0px;
    right: 0px;
    margin: auto;
  }
  .home-container5 {
    left: 0px;
    right: 0px;
    position: static;
  }
}
